<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about_me.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="hello-world">
                <h1>Hello, world!</h1>
                <img src="../img/pictures/earth.gif" alt="around the world pick">
            </div>
            <a href="https://github.com/hotveyn" target="_blank">
                <div class="my-pick__gradient-border">
                    <div class="my-pick"></div>
                </div>
            </a>
        </header>
    </div>
</body>
</html>