<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/my_works.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="hello-world">
                <h1>Hello, world!</h1>
                <img src="../img/pictures/earth.gif" alt="around the world pick">
            </div>
            <a href="https://github.com/hotveyn" target="_blank">
                    <div class="my-pick">
                        <img src="../img/pictures/my-pick.png" alt="my pick">
                    </div>
            </a>
        </header>
        <main class="main">
            <div class="cards">
                <div class="card">
                    <a href="../templates/about_me.html">
                        <div class="about-me card-img">
                            <img src="../img/pictures/aboutMe.jpg" alt="">
                        </div>
                    </a>
                    <p class="card__text">About me</p>
                </div>
                <div class="card">
                    <a href="../templates/my_works.html">
                            <div class="my-works card-img">
                                <img src="../img/pictures/myWorks.jpg" alt="">
                            </div>
                    </a>
                    <p class="card__text">My works</p>
                </div>
                <div class="card">
                    <a href="../templates/about_me.html">
                        <div class="contacts card-img">
                            <img src="../img/pictures/contacts.jpg" alt="">
                        </div>
                    </a>
                    <p class="card__text">Contacts</p>
                </div>
            </div>
            <div class="info">
                <h2 class="my-projects">Мои проекты</h2>
            </div>
        </main>
    </div>
</body>
</html>