@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1025px;
    margin: auto;
    margin-top: 30px;
}
body{
    background-color: rgb(235, 235, 235);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hello-world{
    margin-left: 110px;
    display: flex;
    align-items: center;
}
.hello-world h1{
    font-style: italic;
    font-size: 33px;
    font-weight: 300;
}
.hello-world img{
    width: 60px;
    margin-left: 20px;
}
.my-pick{
    width:80px;
    height: 80px;
    background-image: url(../img/pictures/my-pick.png);
    background-size: 100%;
    border-radius: 50%;
}
.my-pick__gradient-border{
    width:84px;
    height: 84px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, rgba(244, 155, 20, 1),rgba(235, 21, 239, 1))
}